@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: mukta;
  font-size: 1.05rem;
  @media screen and (max-width: 600px) {
    font-size: 0.85rem;
  }
}

.ql-editor {
  font-size: 1.15rem;
  @media screen and (max-width: 600px) {
    font-size: 0.95rem;
  }
}
